<div class="col-12">
<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Is public:</strong>
  <%= @event.is_public %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Member:</strong>
  <%= @event.member_id %>
</p>
<% if @_current_member && (@_current_member.id == @event.member_id || @_current_member.role == 'admin') -%>
<%= link_to '编辑', edit_event_path(@event) %>
<% end -%>
</div>
