<%= bootstrap_form_for(member, local: true) do |form| %>
  <%= form.error_messages %>

  <%= form.text_field :username, class: 'form-control', :autofocus => true, :required => true %>
  <%= form.password_field :password, class: 'form-control', :required => true %>
  <%= form.password_field :password_confirmation, class: 'form-control', :required => true %>
  <%= form.text_area :bio, class: 'form-control' %>
  <%= form.text_field :open_id, class: 'form-control' %>
  <%= form.text_field :union_id, class: 'form-control' %>

  <div class="form-group">
    <%= form.label :birthday %>
    <%= form.date_select :birthday, :start_year => 1920, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit 'Submit', class: 'btn btn-primary' %>
  </div>
<% end %>
