<h1>Editing Member Password</h1>

<%= bootstrap_form_for(@member, local: true) do |form| %>
  <%= form.error_messages %>

  <%= form.text_field :username, class: 'form-control', :autofocus => true, disabled: true %>
  <%= form.text_field :nickname, class: 'form-control', :required => true, disabled: true %>
  <%= form.text_field :open_id, class: 'form-control', disabled: true %>
  <%= form.text_field :union_id, class: 'form-control', disabled: true  %>
  <%= form.password_field :password, class: 'form-control', :required => true %>
  <%= form.password_field :password_confirmation, class: 'form-control', :required => true %>

  <div class="actions">
    <%= form.submit 'Submit', class: 'btn btn-primary' %>
  </div>
<% end %>

<%= link_to 'Show', @member %> |
<%= link_to 'Back', members_path %>
