
<p>
  <strong>Username:</strong>
  <%= @member.username %>
</p>
<p>
  <strong>Nickname:</strong>
  <%= @member.nickname %>
</p>
<p>
  <strong>Bio:</strong>
  <%= @member.bio %>
</p>

<p>
  <strong>Open:</strong>
  <%= @member.open_id %>
</p>

<p>
  <strong>Union:</strong>
  <%= @member.union_id %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @member.birthday %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Reset Password', password_member_path(@member) %> |
<%= link_to 'Back', members_path %> |
<%= link_to 'Show events', member_events_path(@member) %>

